<%- include('layout'); -%>

<div id="webchat" role="main" watermark="false" style="display:none"></div>
<script>chatRequested();</script>
<!-- importing app scripts (load order is important) -->
<script type="text/javascript" src="./javascripts/authConfig.js"></script>
<script type="text/javascript" src="./javascripts/graphConfig.js"></script>
<script type="text/javascript" src="./javascripts/ui.js"></script>

<!-- <script type="text/javascript" src="./javascripts/authRedirect.js"></script> -->
<!-- uncomment the above line and comment the line below if you would like to use the redirect flow -->
<script type="text/javascript" src="./javascripts/authPopup.js"></script>
<script type="text/javascript" src="./javascripts/graph.js"></script>
