<%- include('layout'); -%>

<div class="container login-container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                <i class="fas fa-user-md"></i>
                MobiAfya
            </h3>
            <p class="card-text">Your personal Healthcare Assistant</p>
            <hr>
            <a href="/auth/google" class="btn btn-danger">
                <i class="fab fa-google"></i>Login with Google
            </a>
        </div>
    </div>
</div>
