<%- include('layout'); -%>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">MobiAfya</a>
    <div class="btn-group ml-auto dropleft">
        <a type="button" href="/auth/logout" id="SignIn" class="btn btn-secondary">
            Sign Out
        </a>
    </div>
</nav>
